[user]
	name = Vivian Ajay Monis
	email = monis256@gmail.com

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[color]
 	ui = auto

[color "branch"]
	current = green bold
	local = white bold
  remote = yellow bold

[color "decorate"]
	HEAD = green bold reverse
	branch = white bold reverse
	remoteBranch = yellow bold reverse
	stash = cyan bold reverse
	tag = magenta bold

[color "diff"]
  meta = yellow
  old = red
  new = green
  whitespace = white reverse
  meta = yellow
  old = red
  new = green
  whitespace = white reverse

[color "status"]
	added = green
 	changed = red
 	untracked = yellow

[push]
	default = tracking
	autoSetupRemote = true
	
[alias]
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  br = branch
  co = checkout
  st = status
	lg1 = log --graph --abbrev-commit --decorate --date=local --format=format:'%C(bold red)%h%C(reset) %C(dim white)on%C(reset) %C(bold yellow)%ad%C(reset) %C(dim white)as%C(reset) %C(bold white)%s%C(reset) %C(dim white)by%C(reset) %C(bold green)%an%C(reset) %C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --date=local --format=format:'%C(bold red)%h%C(reset) %C(dim white)on%C(reset) %C(bold yellow)%ad%C(reset) %C(bold cyan)(%ar)%C(reset) %C(bold yellow)%d%C(reset) %n'' %C(dim white)as%C(reset) %C(bold white)%s%C(reset) %C(dim white)by%C(reset) %C(bold green)%an%C(reset)' --all
  lg3 = log --graph --abbrev-commit --decorate --date=format-local:'%Y-%m-%d %H:%M:%S %Z' --format=format:'%C(bold red)%h%C(reset) - %C(bold white)%s%C(reset) %C(dim white)by%C(reset) %C(bold green)%an%C(reset) %C(dim white)on%C(reset) %C(bold yellow)%ad%C(reset)' --all
	lg = !"git lg3"
	clear = !"git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
  update = !"git co $(git main-branch) && git clear && git pull --rebase"
  delete = !"f() { git br -D $1; git push origin -d $1; }; f"
  rb = !"f() {  git fetch origin $(git main-branch) && git rebase origin/$(git main-branch); }; f"

[core]	
	autocrlf = input
	hooksPath = ~/.git-templates/hooks
	editor = code --wait

[pager]
	branch = false

[lfs]
	batch = false

[user]
	name = Vivian Ajay Monis
	email = monis256@gmail.com

[commit]
	gpgsign = true